#apim-disconnect-empty-state-container {
  width: 100%;
  padding: 0 3rem;
  margin: auto;
  .c4p--empty-state__header {
    font-size: 28px;
  }
  .c4p--empty-state__subtitle p {
    font-size: 14px;
    margin-bottom: 1rem;
    line-height: 20px;
  }
  button {
    inline-size: 9.313rem;
    min-block-size: 2rem;
    padding-block: 0.4rem;
  }
}
