.sidePanel .apim-instance-selector-container {
  max-width: 360px;
  padding: 0.5rem 0 1rem 2.75rem;

  .apim-instance-selector-label {
    padding-bottom: 0.5rem;
  }

  .apim-instance-dropdown {
    width: 100%;
  }
}
